.footer {
    position: absolute;
    bottom: 0;
    width:100%;
    height: 50px;
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
  }

body {
    background: linear-gradient(to right, #2C3E50, #2F4F4F);
    
}

.custom-class {
  color: white; /* Mengubah semua elemen h2 menjadi putih */
      padding: 20px;

}

.custom-table-padding th, .custom-table-padding td {
  padding: 15px; /* Atur padding sesuai kebutuhan */
}